@charset "utf-8";

#wrap{
    width: 100vw;
    height: 100vh;
}

#main{
    width: 100%;
    background-color: transparent;
    position: relative;
}
#main header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;

    position: fixed;
    z-index: 9999999999;
}

#main-menu{
    width: 265px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 32px;

    opacity: 0.5;
}

#icon-box{
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center; 

    position: absolute;
    right: 32px;

    opacity: 0.5;
}

#main-menu li{
    margin-right: 24px;  
}

#main-menu li:first-of-type{
    margin-left: 32px;
}

#main-menu li:last-of-type{
    margin-right: 0;  
}

#main-menu li>a{
    color: #fff;
}

#main-menu li:hover a{
    color: #333;
}

#icon-box li:last-of-type{
    margin-left: 24px;
}

#icon-box li>a{
    color: #fff;
}

#header-logo{
    width: 214px;
    height: 100%;
    cursor: pointer;
}
#header-logo svg g{
    fill: #fff;
    opacity: 0.5;
    transition: all 0.5s;
}
#header-logo svg:hover g{
    opacity: 1;
}

#main-p{
    position: absolute;
    width: 100%;
    height: 100%;
}


#sub-menu{
    width: 100%;
    height: 540px;
    background-color: #fff;

    display: flex;

    position: absolute;

    /* opacity: 0; */
}

.sub-menu-list{
    width: 780px;
    height: 250px;
    display: flex;

    position: absolute;
    top: 132px;
    left: 345px;
}

.sub-menu-list ul{
    width: 260px;
    height: 250px;
}

.sub-menu-list ul li{
    margin-bottom: 8px;
    color: #a8a8a8;
    font-size: 14px;
}

.sub-menu-list ul li:first-of-type{
    color: #000;
    opacity: 0.8;
}

.sub-menu-img{
    width: 236px;
    height: 277px;

    position: absolute;

    top: 132px;
    right: 345px; 
}

